@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --color-pinkDefault: #f05454
}
.font-mon{
    font-family: "Montserrat", sans-serif;
}
.container-default{
    @apply container xl:max-w-7xl mx-auto
}

.product-card .swiper-button-prev::after, .product-card .swiper-button-next::after{
    @apply text-white text-xl; 
}

.product-card .swiper-button-disabled, .product-details .swiper-button-disabled{
    display: none !important;
}

.banner .swiper-button-prev::after, .banner .swiper-button-next::after{
    @apply text-white md:text-3xl text-xl; 
}

.banner .swiper-button-disabled, .product-details .swiper-button-disabled{
    display: none !important;
}
.product-details .swiper-button-prev::after, .product-details .swiper-button-next::after{
    @apply text-stone-800 md:text-4xl text-2xl;
}
.product-details .swiper-pagination, .product-details .swiper-pagination-horizontal{
    right: 20% !important;
    text-align: end !important;
    width: auto !important;
    @media (max-width:768px) {
        right: 0 !important;
    }
}
.product-details .swiper-pagination-bullet-active{
    @apply bg-stone-800
}
.product-top #_rht_toaster{
    top: 0 !important;
    left: 0 !important;
    height: 100vh;
    width: 100vw;
}
.product-top .confirm-modal {
  transform: translateY(-500%) scale(0.6);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.product-top .confirm-modal.active {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.animate-hot{
    animation: hot 2s ease-in-out infinite;
}
.hot-sale:hover .animate-hot{
    animation: none !important;
}
@keyframes hot {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
.size-nav{
    @apply relative
}
.size-nav-ul{
    display: none;
   @apply absolute top-10 left-0 bg-white z-20 w-full shadow border-neutral-200
}
.size-nav:hover .size-nav-ul{
    display: block;
}
.res-search{
    @apply fixed top-5 left-1/2 -translate-x-1/2 bg-white w-11/12 z-3 shadow-xl border border-stone-200 border-b-0
}

.zoom-img .iiz__zoom-img{
    object-fit: cover !important;
    min-height: 100% !important;
    min-width: 100% !important;
    object-position: center !important;
    /* @apply object-cover min-h-full min-w-full object-center */
}